/*
#41A4FB
*/

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header{
    background: #ffffff;
	color: white;
    display: flex;
    width: 100%;
    height: auto;
	text-align: center;
}


.center{
	margin-left:655px;
	font-size: 25px;
	font-family: Allan;
}

.layer{
	display:flex;
}

.vertical-menu {
	margin-top:-10px;
	left:0px;
	height:750px;
    width: 200px;
	background-color: #eee;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
	text-align:center;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.whole{
 display:flex;	
 text-align:center;
}

.drinks{
	padding-left:90px;
	padding-top:10px;
}

.drinks > img{
	height:225px;
	width:275px;
}
.top{
	padding-left:150px;
	padding-top:0px;
}
.bottom{
	padding-left:150px;
	padding-top:0px;
}



footer {
    background: #66b3ff;
	color:white;
    width: 100%;
	height:25%;
}
.info > nav{
	margin-left:80px;
}
.info > nav > a{
    color:#F5F5F5;
}
.follow > p{
	margin-left:80px;
	color:#F5F5F5;
}

@media (min-width: 992px) {
.card-img
{
	display:block;
	height:600px;
}
}